/* Responsive disgn for Navbar mobile and tablet divices*/
@media screen and (min-width:320px) and (max-width:768px) {
    .logo h3{
        font-size: 30px;
    }
    .navbar, .nav-btn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px 20px;
}
    .hamburger-label {
        display: block;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #171717;
        flex-direction: column;
        padding: 20px 0;
        text-align: center;
    }
    .item {
        margin: 10px 0;
        width: 100%;
    }
    .nav-btn {
        width: 50%;
        margin: 0 auto;
    }

    #hamburger-menu:checked~.nav-links {
        display: flex;
        animation: slideDown 0.4s ease;
    }
    #hamburger-menu:checked+.hamburger-label .hamburger {
        transform: rotate(180deg);
        color: #E6533C;
        transition: 0.4s;
    }
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}