/* Important css style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

/* Common css style */
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 50px 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Navbar-area style */
.logo h3 {
    font-size: 36px;
    color: #E6533C;
    font-weight: 700;
}
#nav-area {
    background-color: #171717;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}
.navbar{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px 20px;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}


.hamburger-label {
    display: none; 
    cursor: pointer;
}
.hamburger {
    font-size: 24px;
    color: white;
}


.nav-links {
    display: flex; 
    gap: 10px;
}


.item {
    position: relative;
}

.nav-btn {
    display: block;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block; 
}

input[type="radio"]:checked + .nav-btn,
.nav-btn:hover {
    background-color: #E6533C;
    font-weight: 700;
}


 