/* Important css style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

/* Common css style */
.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 50px 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Navbar-area style */
.nav-area {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.logo h3 {
    color: #E6533C;
    font-size: 36px;
    font-weight: 700;
}
.navbar{
    border: 1px solid #ffffff;
    border-radius: 30px;
}
input[type="radio"] {
    display: none;
}
.nav-btn{
    transition: 0.3s;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    transition: 0.3s;
}
.navbar a:hover {
    background-color: #E6533C;
    font-weight: 700;
    border-radius: 30px;
    padding: 15px 0;
}

/* Active state for checked radio button */
input[type="radio"]:checked + .nav-btn {
    background-color: #E6533C;
    font-weight: 700;
}
/* .nav-btn {
    display: inline-block;
    transition: 0.3s;
    border-radius: 30px;
    cursor: pointer;
}

.nav-btn input[type="radio"] {
    display: none;
}

.nav-btn a {
    display: block;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #ff5722;
}

.nav-btn:has(input[type="radio"]:checked) {
    background-color: #ff5722;
}

.nav-btn:has(input[type="radio"]:checked) a {
    font-weight: 900;
} */

/* .nav{
    border: 1px solid #ffffff;
    border-radius: 30px;
     padding: 15px;
}
.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
   
} */