/* Important css style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

/* Common css style */
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 50px 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
input[type="radio"], input[type="checkbox"] {
    display: none;
}

/* Navbar-area style */
.nav-area {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.logo h3 {
    color: #E6533C;
    font-size: 36px;
    font-weight: 700;
}
.navbar{
    border: 1px solid #ffffff;
    border-radius: 30px;
}

.nav-btn{
    transition: 0.3s;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    transition: 0.3s;
}
.navbar a:hover {
    background-color: #E6533C;
    font-weight: 700;
    border-radius: 30px;
    padding: 15px 0;
}


input[type="radio"]:checked + .nav-btn {
    background-color: #E6533C;
    font-weight: 700;
}
.hamburger{
    display: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

#hamburger-menu:checked + label .hamburger {
    color: #E6533C;
    transform: rotate3d(0, 0, 1, 180deg);
}
 